<!DOCTYPE html>
<html>
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="stylesheets/style.css?after" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <!------------------------------------ BODY --------------------------------->
  <!--------------------------------------------------------------------------->
  <!------------------------------------ HEADER ------------------------------->
  <body>
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
    <!-------------------------------------CARDS--------------------------------------->
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $0<small class="text-muted fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
              Sign up for free
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $15<small class="text-muted fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Get started
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $29<small class="text-muted fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Contact us
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="boxes">
      <div class="box1">
        <p id="title">Safe Road test</p>
      </div>
      <div class="box2">
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="box3">
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="box4">
        <div id="hrtbox" class="box">
          <p>현재 심박수</p>
          <p id="hrt">0</p>
        </div>
        <div class="box"></div>
      </div>
      <div class="box5">
        <button type="button" onclick="init()">Start</button>
        <div id="label-container"></div>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.4.0/dist/speech-commands.min.js"></script>
        <p id="currentDisplay"></p>
        <p id="swearCountDisplay"></p>
        <p id="swearAlertDisplay"></p>

        <script type="text/javascript">
          // more documentation available at
          // https://github.com/tensorflow/tfjs-models/tree/master/speech-commands

          // the link to your model provided by Teachable Machine export panel
          const URL =
            "https://teachablemachine.withgoogle.com/models/s5qwN9lB_/";

          let status = "Background Noise";
          let currentDetection = document.getElementById("currentDisplay");
          let swearCountDisplay = document.getElementById("swearCountDisplay");
          let swearAlertDisplay = document.getElementById("swearAlertDisplay");

          //-------------------------------DONT EDIT BELOW---------------------
          async function createModel() {
            const checkpointURL = URL + "model.json"; // model topology
            const metadataURL = URL + "metadata.json"; // model metadata

            const recognizer = speechCommands.create(
              "BROWSER_FFT", // fourier transform type, not useful to change
              undefined, // speech commands vocabulary feature, not useful for your models
              checkpointURL,
              metadataURL
            );

            // check that model and metadata are loaded via HTTPS requests.
            await recognizer.ensureModelLoaded();

            return recognizer;
          }
          //-----------------------------------------------------------------------
          async function init() {
            const recognizer = await createModel();
            const classLabels = recognizer.wordLabels(); // get class labels
            const labelContainer = document.getElementById("label-container");

            var swearCount = 0;
            var nonSwearCount = 0;
            var swearCountArray = new Array(0, 0);
            var angryLevel = 0;

            for (let i = 0; i < classLabels.length; i++) {
              labelContainer.appendChild(document.createElement("div"));
            }

            // listen() takes two arguments:
            // 1. A callback function that is invoked anytime a word is recognized.
            // 2. A configuration object with adjustable fields
            recognizer.listen(
              (result) => {
                const scores = result.scores; // probability of prediction for each class
                // render the probability scores per class
                for (let i = 0; i < classLabels.length; i++) {
                  const classPrediction =
                    classLabels[i] + ": " + result.scores[i].toFixed(2);
                  labelContainer.childNodes[i].innerHTML = classPrediction;
                }

                for (let i = 0; i < 9; i++) {
                  if (result.scores[i] >= 0.8) {
                    status = classLabels[i]; //(0:test 1:개새끼 2:미친 3,4,5: 배경소음 6:씨발 7:씨발(장난) 8:욕설
                    if (i == 1 || i == 2 || i == 6 || i == 8) {
                      swearCountArray[0]++;
                    } else swearCountArray[1]++;
                  }
                  setTimeout(function () {
                    swearcount = 0;
                    swearCountArray[0] = 0;
                    swearCountArray[1] = 0;
                  }, 10000);
                }

                currentDetection.innerHTML = "현재 인식 단어: " + status;
                swearCountDisplay.innerHTML =
                  "욕설" +
                  swearCountArray[0] +
                  "회" +
                  "  욕설 아님" +
                  swearCountArray[1] +
                  "회";
                if (swearCountArray[0] > 2) {
                  swearAlertDisplay.innerHTML =
                    " 욕설이 2회 이상 감지되었습니다. ";
                } else {
                  swearAlertDisplay.innerHTML = " 난폭운전 예방 시스템 ";
                }
              },
              {
                includeSpectrogram: true, // in case listen should return result.spectrogram
                probabilityThreshold: 0.75,
                invokeCallbackOnNoiseAndUnknown: true,
                overlapFactor: 0.5, // probably want between 0.5 and 0.75. More info in README
              }
            );

            // Stop the recognition in 5 seconds.
            // setTimeout(() => recognizer.stopListening(), 5000);
          }
        </script>
      </div>
    </div> -->
  </body>
  <script src="./index.html"></script>
</html>
