<!DOCTYPE html>
<html>
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- <link
      rel="stylesheet"
      href="C:\Users\jsk53\Desktop\nf\public\stylesheets\style.css"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <!------------------------------------ BODY --------------------------------->
  <!--------------------------------------------------------------------------->

  <body>
    <div class="container py-3">
      <!------------------------------------ HEADER ------boot strap------------------------->
      <header>
        <div
          class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
        >
          <a
            href="/"
            class="d-flex align-items-center text-dark text-decoration-none"
          >
            <img
              src="https://www.ajou.ac.kr/_res/ajou/kr/img/common/img-logo.png"
              height="32"
            />
            <title>난폭운전 방지 시스템</title>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
              fill="currentColor"
            ></path>
            <span class="fs-4"> &nbsp; 난폭운전 방지 시스템</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >Safe Road</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >정승호</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >장희연</a
            >
            <a class="me-3 py-2 text-dark text-decoration-none" href="#"
              >박수현</a
            >
          </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">난폭운전 방지 시스템</h1>
          <p class="fs-5 text-muted">No More Reckless Driving!</p>
        </div>
      </header>

      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">난폭운전 여부</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">내부 타이틀</h1>
                <ul class="list-unstyled mt-3 mb-4"></ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">스트레스 상태</h4>
              </div>
              <script language="javascript">
                const audioPlay = new Audio();
                audioPlay.src = "./audio/classic.mp3";

                //스트레스 레벨에 따라 이모티콘 변화
                function stressStatus(stressLevel, swearingData) {
                  if (stressLevel == 3 || swearingData == 1) {
                    document.getElementById("faceEmoticon").src =
                      "./images/frowning.png";
                    document.getElementById("statusText").innerHTML =
                      "스트레스 지수가 높습니다. 스트레스 완화 시스템을 가동합니다.";
                    audioPlay.play();
                  }
                  if (stressLevel == 1 && swearingData == 0) {
                    faceEmoticon.src = "./images/smile.png";
                    document.getElementById("statusText").innerHTML =
                      "스트레스 지수가 정상입니다!";
                    audioPlay.pause();
                  }
                }

                //스트레스 웹소켓으로 받으면 스트레스 이모티콘 함수 실행.
                const socket = io("http:localhost:3000/webpage");
                console.log("웹페이지 웹소켓 연결됨");
                socket.on("stress_level", (stress) => {
                  stressStatus(stress, 0);
                });
              </script>

              <img
                src="images/annoyed.png"
                id="faceEmoticon"
                class="card-img-top"
                alt="Fail to load image"
              />

              <p id="statusText"></p>
              <!-- <button
                type="button"
                onclick="stressStatus(60,0)"
                class="w-100 btn btn-lg btn-primary"
              >
                Start
              </button> -->
              <div class="card-body"></div>
            </div>
          </div>

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">음성 데이터 분석</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <div id="label-container"></div>
                  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.4.0/dist/speech-commands.min.js"></script>
                  <p id="currentDisplay"></p>
                  <p id="swearCountDisplay"></p>
                  <p id="swearAlertDisplay"></p>

                  <script type="text/javascript">
                    // more documentation available at
                    // https://github.com/tensorflow/tfjs-models/tree/master/speech-commands

                    // the link to your model provided by Teachable Machine export panel
                    const URL =
                      "https://teachablemachine.withgoogle.com/models/s5qwN9lB_/";

                    let status = "Background Noise";
                    let currentDetection =
                      document.getElementById("currentDisplay");
                    let swearCountDisplay =
                      document.getElementById("swearCountDisplay");
                    let swearAlertDisplay =
                      document.getElementById("swearAlertDisplay");

                    //-------------------------------DONT EDIT BELOW---------------------
                    async function createModel() {
                      const checkpointURL = URL + "model.json"; // model topology
                      const metadataURL = URL + "metadata.json"; // model metadata

                      const recognizer = speechCommands.create(
                        "BROWSER_FFT", // fourier transform type, not useful to change
                        undefined, // speech commands vocabulary feature, not useful for your models
                        checkpointURL,
                        metadataURL
                      );

                      // check that model and metadata are loaded via HTTPS requests.
                      await recognizer.ensureModelLoaded();

                      return recognizer;
                    }
                    //-----------------------------------------------------------------------
                    async function init() {
                      const recognizer = await createModel();
                      const classLabels = recognizer.wordLabels(); // get class labels
                      const labelContainer =
                        document.getElementById("label-container");

                      var swearCount = 0;
                      var nonSwearCount = 0;
                      var swearCountArray = new Array(0, 0);
                      var angryLevel = 0;

                      for (let i = 0; i < classLabels.length; i++) {
                        labelContainer.appendChild(
                          document.createElement("div")
                        );
                      }

                      // listen() takes two arguments:
                      // 1. A callback function that is invoked anytime a word is recognized.
                      // 2. A configuration object with adjustable fields

                      recognizer.listen(
                        (result) => {
                          const scores = result.scores; // probability of prediction for each class
                          // render the probability scores per class
                          for (let i = 0; i < classLabels.length; i++) {
                            const classPrediction =
                              classLabels[i] +
                              ": " +
                              result.scores[i].toFixed(2);
                            // labelContainer.childNodes[i].innerHTML = classPrediction;
                          }

                          for (let i = 0; i < 9; i++) {
                            if (result.scores[i] >= 0.8) {
                              status = classLabels[i]; //(0:개새끼 1:미친 2,3,4: 배경소음 5:씨발 6:씨발(장난) 7:욕설 8:탄식 및 한숨
                              if (i == 0 || i == 1 || i == 5 || i == 8) {
                                swearCountArray[0]++;
                              } else swearCountArray[1]++;
                            }
                            setTimeout(function () {
                              swearcount = 0;
                              swearCountArray[0] = 0;
                              swearCountArray[1] = 0;
                            }, 100000);
                          }

                          currentDetection.innerHTML =
                            "현재 인식 단어: " + status;
                          swearCountDisplay.innerHTML =
                            "욕설" +
                            swearCountArray[0] +
                            "회" +
                            "  욕설 아님" +
                            swearCountArray[1] +
                            "회";
                          if (swearCountArray[0] > 2) {
                            swearAlertDisplay.innerHTML =
                              " 스트레스가 감지되었습니다 ";
                            stressStatus(3, swearCountArray[0]);
                          } else {
                            swearAlertDisplay.innerHTML =
                              " 오늘도 안전 운전 하세요 :) ";
                          }
                        },
                        {
                          includeSpectrogram: true, // in case listen should return result.spectrogram
                          probabilityThreshold: 0.75,
                          invokeCallbackOnNoiseAndUnknown: true,
                          overlapFactor: 0.5, // probably want between 0.5 and 0.75. More info in README
                        }
                      );

                      // Stop the recognition in 5 seconds.
                      // setTimeout(() => recognizer.stopListening(), 5000);
                    }
                  </script>
                </ul>
                <button
                  type="button"
                  onclick="init()"
                  class="w-100 btn btn-lg btn-primary"
                >
                  Start
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="mx-auto text-center">
      All emojis designed by OpenMoji – the open-source emoji and icon project.
      License: CC BY-SA 4.0
    </div>
  </body>
  <!-- <script src="./index.html"></script> -->
</html>
