/* body {
  display: grid;
  justify-content: center;
  background-color: white;
  height: 90vh;
} */

.text-center {
  text-align: center !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
/* .boxes {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  width: 80%;
}

.box1 {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.box2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box5 {
  border: 1px solid black;
}

.box {
  border: 1px solid black;
} */

#hrtbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: white;
}
